<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mingle_market.mapper.UserMapper">

  <insert id="insertUser">
    INSERT INTO users (id, nickname, profile_image, user_city, user_district, user_dong)
    VALUES (#{id}, #{nickname}, #{profileImage} , #{userCity}, #{userDistrict}, #{userDong})
  </insert>

  <select id="getUserById" resultType="UserDto">
    SELECT * FROM users WHERE id = #{id}
  </select>

  <select id="getUserByNickname" resultType="USerDto">
    SELECT * FROM users WHERE nickname = #{nickname}
  </select>

  <update id="updateUser">
    UPDATE users
    SET nickname = #{nickname},
        profile_image = #{profileImage},
        user_city = #{userCity},
        user_district = #{userDistrict},
        user_dong = #{userDong}
    WHERE id = #{id}
  </update>
</mapper>